recursive-include help *.html
recursive-include translations *
recursive-include scripts *
include help/regex-lib.xml
include images/*.png
include images/*.ico
include screenshots/*.png
include MANIFEST.in
include LICENSE.txt
include README.txt
include modules/*.ui
include modules/*.py
include windows/build.bat
include windows/installer.iss
include CHANGELOG.txt
